.post-app {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-app h2 {
  margin-bottom: 20px;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post {
  max-width: 450px;
  padding: 18px 30px;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  border-radius: 0.6rem;
}

.post-title {
  font-weight: 500;
  text-align: start;
  margin-bottom: 10px;
}

.post-desc {
  text-align: justify;
}
